.row1,.row2{
    display:flex;
}
.card{
    width: 500px;
    margin:20px;
    padding: 20px;
    border:2px solid black;
    background-color: rgba(148, 88, 10, 0.768);
}
input{
    margin-left: 150px;
}
